@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

body {
  padding-top: 30px;
  font-size: 2rem;
}

#app {
  margin-top: 1rem;

  input[type='checkbox'] {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
  }

  .fa-star {
    color: #aaa;
    margin-right: 1rem;

    &.active {
      color: #f33;
    }
  }

  .finished {
    background-color: #ddd;
  }
}
